<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Get User Info</h1>
  <form action="/aboutsave" method="get">
    <span>Search by user name</span>
    <input type="text" placeholder="user name" name="username">
    <span>Search by ID</span>
    <input type="text" placeholder="user id" name="userid">
    <input type="password" placeholder="password" name="password">
    <input type="submit" value="search">
    {{info}}
  </form>
</body>
</html>