<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joiner</title>
</head>
<body>
    <h2>Amount of tokens {{amount}}</h2>
    <form action="/infosave" method="post">
        <input type="text" placeholder="Server id" name="server_id">
        <input type="text" placeholder="Amount of tokens" name="amount">
        <input type="password" placeholder="password to send tokens" name="password">
        <input type="submit" value="send">
    </form>
</body>
</html>